/***** Footer *****/
.footer {
  margin-top: 4rem;
  padding: 1rem 0;

  a {
    color: $brand_text_color;
  }

  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
  }

  &-language-selector button {
    color: $secondary-text-color;
    display: inline-block;
  }
}

.powered-by-zendesk {
  a,
  a:visited {
    color: $secondary-text-color;
  }
}
