// Variables

// Colors
$hover-button-color: zass-darken($brand_color, 20%);
$secondary-text-color: zass-lighten($text_color, 20%);

$primary-shade: zass-darken($background_color, 3%); //#f8f8f8 for the default background_color
$secondary-shade: zass-darken($background_color, 5%); //#f2f2f2 for the default background_color

$font-size-bigger: 1.5rem;
$font-size-base: 1rem;
$font-size-navigation: 0.875rem;
$font-size-small: 0.75rem;
$font-size-smaller: 0.625rem;

$high-contrast-border-color: #87929D; // maintains a 3:1 contrast ratio with default background color (#FFF). Use for controls and inputs
$low-contrast-border-color: #ddd; // less than 3:1 contrast ratio with default background color. Use for elements that do not require user interaction

$button-color: $brand_color;

$input-font-size: 14px;
$field-text-color: #666;
$field-text-focus-color: #555;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

$font-weight-thin: 100;
$font-weight-normal: 300;
$font-weight-semibold: 500;
$font-weight-bold: 700;

// Transitions
$input-transition: border .12s ease-in-out;
